@font-face
    font-family: AvenirNext-Medium
    src: url(../fonts/AvenirNext-Medium.ttf)
@font-face
    font-family: AvenirNext-Regular
    src: url(../fonts/AvenirNext-Regular.ttf)

body
    margin: 0
    width: 1400px
.top-part
    height: 790px
    background-color: #f4f0ec
    background-image: url(../images/bg.png)

    header
        height: 150px
        padding-top: 40px
        margin-left: 220px
        padding-left: 10px

        
        .logo
            float: left
            .center-testing
                font-family: AvenirNext-Regular
                font-size: 14px
                color: #fffefe
                padding-top: 7px
        .menu
            float: left

            .my-select
                background: url(../images/dropdown-arrow.png) no-repeat

                select
                    font-family: AvenirNext-Medium
                    font-size: 18px
                    background-color: transparent
                    background: transparent
                    border: none
                    color: #fffefe
                    margin-left: 209px
                    margin-top: 15px
                    
                
                    &:nth-child(2)
                        margin-left: 41px