@font-face
    font-family: AvenirNext-Medium
    src: url(../fonts/AvenirNext-Medium.ttf)
@font-face
    font-family: AvenirNext-Regular
    src: url(../fonts/AvenirNext-Regular.ttf)
@font-face
    font-family: AvenirNext-DemiBold
    src: url(../fonts/AvenirNext-DemiBold.ttf)

body
    margin: 0
    width: 1400px
.top-part
    height: 790px
    background-color: #f4f0ec
    background-image: url(../images/bg.png)

    .header-shadow
        position: absolute

    header
        height: 150px
        padding-top: 40px
        margin-left: 221px
        padding-left: 10px

        
        .logo
            a
                cursor: pointer

            float: left
            .center-testing
                font-family: AvenirNext-Regular
                font-size: 14px
                color: #fffefe
                padding-top: 7px
        .menu
            float: left

            

            select
                font-family: AvenirNext-Medium
                font-size: 18px
                background: transparent
                border: none
                color: #fffefe
                margin-left: 395px
                position: relative
                display: inline-block
                bottom: 53px
                outline: 0
                -webkit-padding-end: 2px;
                -webkit-padding-after: 4px;

                &:nth-child(2)
                    margin-left: 39px
                &:hover
                    cursor: pointer
                    transition: ease-in-out 0.25s
                    opacity: 0.7
            .lang
                float: right
                font-family: AvenirNext-DemiBold
                font-size: 11px
                text-transform: uppercase
                color: #fffefe
                margin-right: 229px
                letter-spacing: 1px
                position: relative
                bottom: 91px

                .rus,.kaz
                    float: left
                    a
                        color: #fffefe
                        text-decoration: none
                        &:hover
                            transition: ease-in-out 0.25s
                            opacity: 0.7
                .kaz
                    margin-left: 20px

            .login
                float: right
                border: 1px solid
                border-color: rgba(255,255,255,0.25)
                margin-top: 3px
                border-radius: 44px
                margin-left: 40px
                margin-right: 206px
                position: relative
                bottom: 94px
                padding: 8px 24px 9px 22px
                font-family: AvenirNext-Medium
                font-size: 18px

                a
                    text-decoration: none

                    &:hover
                        transition: ease-in-out 0.25s
                        opacity: 0.7

                .enter,.registry
                    color: #fffefe
                .enter
                    padding-right: 19px
                    margin-right: 17px
                    border-right: 1px solid
                    border-color: rgba(255,255,255, 0.25)
    .best-methods
        margin-top: 155px
        margin-right: -1px
        p
            text-align: center
            font-family: AvenirNext-Medium
            font-size: 72px
            color: #fffefe
            line-height: 1.0
    .testing
        margin-top: -47px
        p
            text-align: center
            font-family: AvenirNext-Regular
            font-size: 26px
            color: #fffefe
            margin-top: 0px
    .learn-more
        text-align: center
        margin-top: 43px
        button
            font-family: AvenirNext-Regular
            font-size: 20px
            color: #ffffff
            background: #2856b3
            border: none
            border-radius: 62px
            padding: 17px 48px 17px 48px
            outline: 0
            cursor: pointer

            &:hover
                transition: ease-in-out 0.25s
                opacity: 0.7
.pass-ent
    height: 820px
    background: #faf8f6

    .guy
        margin-left: 100px
        float: left
        img
            margin-top: 74px
    .txt-block
        float: left
        width: 500px
        margin-left: 37px;
        margin-top: 46px;
        p
            font-family: AvenirNext-Medium
            font-size: 46px
            color: #262626
            margin-bottom: 0
        .list
            font-family: AvenirNext-Medium
            font-size: 18px

            p
                font-size: 18px
                margin-left: 2px
                margin-top: 32px

                &:nth-child(3)
                    margin-top: 23px !important
            ul
                list-style-image: url(../images/ellipse.png)
                padding-left: 23px
                margin-top: 23px

                li
                    padding-left: 9px
                    line-height: 1.65

                    &:nth-child(2), &:nth-child(3) 
                        margin-top: 1px
        .learn-more
            margin-top: 43px
            margin-left: 5px
            button
                font-family: AvenirNext-Regular
                font-size: 20px
                color: #fff
                background: #2856b3
                border: none
                border-radius: 60px
                padding: 15px 48px 18px 48px
                box-shadow: 0 0 50px rgba(40,86, 179, 0.2)
                outline: 0
                cursor: pointer

                &:hover
                    transition: ease-in-out 0.25s
                    opacity: 0.7

        .partner
            display: inline-block
            font-family: AvenirNext-Medium
            font-size: 14px
            border: 1px dashed #b2b2b2
            border-radius: 5px
            text-transform: uppercase
            color: #b2b2b2
            padding: 26px 67px 26px 32px
            margin-left: 2px
            margin-top: 56px
            letter-spacing: 0.1em
            line-height: 1.8
footer
    width: 942px
    margin: 0 auto
    margin-top: 52px
    padding-bottom: 52px
    p
        font-family: AvenirNext-Medium
        font-size: 14px
        color: #b2b2b2

        span
            a
                &:hover
                    transition: ease-in-out 0.25s

        &:last-child
            margin-top: -19px
    span
        color: #2856b3

        