html
    head
        title
            |JCat - тестовое задание
        link(rel="stylesheet", href="css/bundle.css")
        
        

            

    body
        .top-part
            header
                .logo
                    img(src="images/logo.png", alt="")
                    .center-testing
                        |Центр онлайн тестирования
                .menu
                    select
                        option(value="materials")
                            |Материалы
                        option(value="other")
                            |other
                
                    .my-select
                        select
                            option(value="about")
                                |О проекте
                            option(value="other")
                                |other
                  