html
    head
        title
            |JCat - тестовое задание
        link(rel="stylesheet", href="css/bundle.css")
        
        

            

    body
        .top-part
            .header-shadow
                img(src="images/header-shadow.png", alt="")
            header
                .logo
                    img(src="images/logo.png", alt="")
                    .center-testing
                        |Центр онлайн тестирования
                .menu
                    select
                        option(value="materials")
                            |Материалы
                        option(value="other")
                            |other
                
                    
                    select
                        option(value="about")
                            |О проекте
                        option(value="other")
                            |other
                    .lang
                        .rus
                            |рус
                        .kaz
                            |каз

                    .login
                        a(href="#" class="enter")
                            |Вход
                        a(href="#" class="registry")
                            |Регистрация
            .best-methods
                p
                    |Самый лучший способ<br/> оценить свои знания
            .testing
                p
                    |Пробное тестирование и школьные образовательные курсы
            .learn-more
                button
                    |Узнать больше
        .pass-ent
            .guy
                img(src="images/guy.png", alt="")
            .txt-block
                p
                    |Сдать ЕНТ<br/> больше не проблема
                .list
                    p
                        |Если ты хочешь:
                    ul
                        li
                            |пройти Единое Национальное Тестирование<br/>
                            |или Комплексное Тестирование,
                        li
                            |уверенно чувствовать себя на экзамене,
                        li
                            |набрать максимум баллов на тестировании,
                    p
                        |то наше предложение  как раз для тебя
                .learn-more
                    button
                        |Узнать больше
                .partner
                    |ustudy.kz — официальный партнер<br/> национального центра тестирования.
