html
    head
        title
            |JCat - тестовое задание
        link(rel="stylesheet", href="css/bundle.css")
        
        

            

    body
        .top-part
            .header-shadow
                img(src="images/header-shadow.png", alt="")
            header
                .logo
                    img(src="images/logo.png", alt="")
                    .center-testing
                        |Центр онлайн тестирования
                .menu
                    select
                        option(value="materials")
                            |Материалы
                        option(value="other")
                            |other
                
                    
                    select
                        option(value="about")
                            |О проекте
                        option(value="other")
                            |other
                    .lang
                        .rus
                            |рус
                        .kaz
                            |каз

                    .login
                        a(href="#" class="enter")
                            |Вход
                        a(href="#" class="registry")
                            |Регистрация