html
    head
        title
            |JCat - тестовое задание
        link(rel="stylesheet", href="css/bundle.css")
        meta(charset="utf-8")
        

            

    body
        .top-part
            .header-shadow
                img(src="images/header-shadow.png", alt="")
            header
                .logo
                    a(href="#")
                        img(src="images/logo.png", alt="")
                    .center-testing
                        |Центр онлайн тестирования
                .menu
                    select
                        option(value="materials")
                            |Материалы
                        option(value="other")
                            |other
                
                    
                    select
                        option(value="about")
                            |О проекте
                        option(value="other")
                            |other
                    .lang
                        .rus
                            a(href="#")
                                |рус
                        .kaz
                            a(href="#")
                                |каз

                    .login
                        a(href="#" class="enter")
                            |Вход
                        a(href="#" class="registry")
                            |Регистрация
            .best-methods
                p
                    |Самый лучший способ<br/> оценить свои знания
            .testing
                p
                    |Пробное тестирование и школьные образовательные курсы
            .learn-more
                button
                    |Узнать больше
        .pass-ent
            .guy
                img(src="images/guy.png", alt="")
            .txt-block
                p
                    |Сдать ЕНТ<br/> больше не проблема
                .list
                    p
                        |Если ты хочешь:
                    ul
                        li
                            |пройти Единое Национальное Тестирование<br/>
                            |или Комплексное Тестирование,
                        li
                            |уверенно чувствовать себя на экзамене,
                        li
                            |набрать максимум баллов на тестировании,
                    p
                        |то наше предложение  как раз для тебя
                .learn-more
                    button
                        |Узнать больше
                .partner
                    |ustudy.kz — официальный партнер<br/> национального центра тестирования.
        footer
            p
                span
                    |+7 (727) 356 00 28 
                |или 
                span
                    |3560
                |, звонки с любых операторов (кроме ALTEL) бесплатны. 
                span
                    a(href="mailto:info@ustudy.kz")
                        |info@ustudy.kz 
            p
                |<br/>&copy; TOO "U-Partners" 2011-2017, Все права защищены.